html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  min-height: 100vh;

}
.box1{
  height: 100vh;
  background-color:  #EC799A;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.box1 a {
  text-decoration: none;
  color: white;
}
.box2{
  height: 100vh;
  background:  #E1B378;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box2 a {
  text-decoration: none;
  color: white;


}
.box3{
  height: 100vh;
  background-color:  #EC799A;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.box3 a {
  text-decoration: none;
  color: white;
}
.box4{
  height: 100vh;
  background-color:  #E1B378;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.box4 a {
  text-decoration: none;
  color: white;
}

nav  {
  justify-content: space-around;
  align-items: center;
  background-color: #69A583;
  min-height: 5.5vh;
  padding-top: 5px;
  position: sticky;
  top: 0;
}
nav a {
  text-decoration: none;
  color: white;
}
.nav-links{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    width: 50%;
    float: right;
    margin-top: 2px;
    font-size: 2.5vh;
    }


li:hover{
  background-color: #4D8963
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  float: left;
  font-size: 1.5rem;

}
.burger div{
  width: 28px;
  height: 3px;
  background-color: white;
  margin: 8px;
}
.burger {
  float: right;
  display: none;
  cursor: pointer;
}
@media screen and (max-width:768px){
  body {
    overflow-x: hidden;
  }
  .nav-links  {
    position: absolute;
    right: 0px;
    background-color: #69A583;
    top: 5vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {

  }
  .burger {
    display:block;
  }

  .mySlides div1 {
    min-width: 28%;
    display: flex;
    position: absolute;

  }

}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
h1 {
  font-size: 2rem;
  color: white;
}
.typing {
  max-width: 35%;
}
.typing::after{
  content: "";

  height: 70%;
  width: 1px;
  top: 9px;
  border-right: 3px solid white;
  right: -5px;
  animation: blink 1s infinite ease;
}
@keyframes blink {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.div1, .div2 , .div3 {
  height: 32%;
  width: 28%;
  background-color: lightpink;
  border: 1px, solid, pink;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.sliderContainer{
  max-width: 1700px;
  text-align: center;
  height: 100vh;
}
.div1 {
  background-image: url("images/cryingPeach.gif");
  background-position: center;
  background-size: cover;
}
.div2 {
  background-image: url("images/me1.jpg");
  background-position: center;
  background-size: cover;
}
.div3 {
  background-image: url("images/pc.jpg");
  background-position: center;
  background-size: cover;
}
