* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  min-height: 100vh;
}
.box1{
  height: 100vh;
  background-color:  #EC799A;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.box1 a {
  text-decoration: none;
  color: white;
}
.box2{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  #E1B378;
  text-decoration: none;
}
.box2 a {
  text-decoration: none;
  color: white;
}
nav  {
  justify-content: space-around;
  align-items: center;
  background-color: #69A583;
  min-height: 5.5vh;
  padding-top: 5px;

}
nav a {
  text-decoration: none;
  color: white;

}
.nav-links{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    width: 50%;
    float: right;
    margin-top: 2px;
    font-size: 2.5vh;
    }


li:hover{
  background-color: #4D8963
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  float: left;
  font-size: 1.5rem;

}
.burger div{
  width: 28px;
  height: 3px;
  background-color: white;
  margin: 8px;
}
.burger {
  float: right;
  display: none;

}
@media screen and (max-width:768px){
  body {
    overflow-x: hidden;
  }
  .nav-links  {
    position: absolute;
    right: 0px;
    background-color: #69A583;
    top: 2vh;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    transform: translateX(100%);
  }
  .nav-links li {
    opacity: 0;

  }
  .burger {
    display:inline-block;
  }
}
